
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.bx-shd{
  box-shadow: 1px 1px 3px gray;
}
.brs-5{
  border-radius: 5px;
}
.brs-10{
  border-radius: 10px;
}