* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-tomato: #ff6a6a;
}

.brs {
    border-radius: 5px;
}

.nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px black; */
    position: fixed;
    top: 0;
    height: 72px;
    width: 100vw;
}

.logo {
    color: var(--primary-tomato);
    cursor: pointer;
}

.right-nav {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    align-items: center;
}

.nav-links>a {
    color: var(--primary-tomato);
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
}

.nav-links>a:hover {
    background-color: #ff6a6a20;
}


.signUp-btn {
    background: none var(--primary-tomato);
    border: none;
    outline: none;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    padding: 3px;
    cursor: pointer;
    height: 32px;
    width: 119px;
    border-radius: 20px;
    box-shadow: 1px -1px 2px 0px inset;
}

.main-hero {
    height: 80vh;
    width: 100vw;
    background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2F1ba6ce27946d04daf60a668665de63d2.cdn.bubble.io%2Ff1649702012344x482678199002355840%2FHero%25402-1698x887.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.main-hero>h1 {
    font-size: 80px;
    color: white;
    margin: 5px;

}

.main-hero>p {
    font-size: 20px;
    color: white;
    margin: 5px;

}

.community {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 400px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(125, 72, 192, 0.2) 2px -4px 8px 0px inset;
}

.medias {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.media {
    height: 30px;
    width: 30px;
    background-color: var(--primary-tomato);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.media:hover {
    transform: translateY(5px);
    transition: transform ease 0.5s;
}

.footer {
    display: flex;
    background-color: white;
    gap: 100px;
    align-items: center;
    margin-left: 60px;
    min-height: 200px;
}

.footer .media:hover {
    transform: scale(1.1);
    transition: transform ease 1s;
}

.footer .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: last baseline;
    margin-top: 10px;
}

.footer-list>.footer-content {
    color: var(--primary-tomato);
    text-decoration: none;
    cursor: pointer;
}

.footer-list>.footer-content:hover {
    text-decoration: underline;
}


/* styling abouts */
.container {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container .image-card {
    height: 300px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.4);
    box-shadow: 5px 5px 10px 2px rgb(223 223 223);
}


.container .content {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.4);
    box-shadow: 5px 5px 10px 2px rgb(223 223 223);
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.content-header {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.content-header .order {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary-tomato);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content .btn {
    background: none var(--primary-tomato);
    border: none;
    outline: none;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    padding: 3px;
    font-size: larger;
    cursor: pointer;
    height: 45px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 1px -1px 2px 0px inset;
}

/* Highlight */
.highlights {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights .highlight-content {
    display: flex;
    gap: 30px;

}

.highlights .highlight-content .content {
    margin-top: 30px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;

    background-color: rgba(250, 250, 250, 0.4);
    box-shadow: 5px 5px 10px 2px rgb(223 223 223);
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlights .highlight-content .content .btn-link {

    height: 35px;
    width: 90px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* form popup */
.popup {
    height: 420px;
    width: 450px;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    gap: 15px;
    backdrop-filter: blur(50px);
    z-index: 5;

}

.popup .popup-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-form h3 {
    font-size: 35px;
}

.popup-form .forgot-password {
    color: var(--primary-tomato);
}
.popup-form label{
    color: darkslategray;
    font-weight: 500;
}
.popup-form .input-field {
    letter-spacing: 2px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 20px;
    background-color: rgba(250, 250, 250, 0.4);
    box-shadow: 5px 5px 10px 2px rgb(223 223 223);
}

.captcha {
    height: 75px;
    width: 300px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.captcha input {
    height: 25px;
    width: 25px;
}

.popup-form .login {
    border: none;
    outline: none;
    height: 30px;
    width: 115px;
    left: 100px;
    color: white;
    font-weight: 600;
    position: relative;
    border-radius: 15px;
    background-color: var(--primary-tomato);
}

.popup-close-btn {
    color: var(--primary-tomato);
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: 800;
    background: none;
    position: absolute;
    top: 25px;
    right: 25px;
}